streamlit
langchain
langchain-openai
langchain-community
PyPDF2
chromadb
faiss-cpu
tiktoken
textstat
evaluate
sentence_transformers
tensorflow
bert-score
spacy
nltk
rouge_score
git+https://github.com/google-research/bleurt.git
sacrebleu
sacremoses
fuzzywuzzy
python-Levenshtein
levenshtein
rank_bm25
tf-keras