langchain==0.1.0
langchain-community==0.0.17
langchain-openai==0.0.6
lancedb==0.16.0
bs4==0.0.2
tantivy==0.20.1 
pypdf==5.4.0
gradio==5.29.0
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
rerankers
git+https://github.com/huggingface/parler-tts.git
