.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ql-toolbar {
  border: none !important;
}
.ql-container {
  border: none !important;
}
.ql-editor{
  height: 86% !important;
}
.file-uploader {
  padding: 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.file-input {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #4b5563;
}

.file-info {
  margin-top: 16px;
}

.error-message {
  margin-top: 8px;
  color: #ef4444;
}

.suggestion-box {
  overflow: auto;
}

